
.center-top-content {
  text-align: center;
  border-bottom: 3px #03fcc2 solid;
  padding-bottom: 0px;

}

.titlename h1{
  font-family: 'Monoton', cursive;
}


h2 {
  background-color: #33485e;
  color: white;
  padding: 5px;
}

h4, h5 {
  font-weight: normal;
}

h5 {
  font-style: italic;
}

.titlename {
  text-align: center;
}

.center-top-content h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 0px;
  text-align : center;
  width : auto;
}

.contacts ul {
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.contacts li {
  display: inline;
  padding: 0px;
}

.center-top-content p {
  text-align: center;
  font-style: italic;
  color: grey;
}

.main-content {
  width: auto;
  display: inline-block;
}

.section-divider {
  padding-bottom: 10px;
  border-bottom: 3px #03fcc2 solid;
}

.intro {
  line-height: 25px;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
}

.jumbotron {
  padding: 0px;
}

.highlight {
  background-color: #33485e;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}

.container-experience {
  margin-bottom: 5px;
  margin-top: 5px;
  width: auto;
}

.container-experience p {
  font-size: 14px;
}
