h1 {
  font-size: 36px;
  color: #33485e;
  font: Manjari;
}

body {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  font: Georgia;
}

.center-top-content {
  margin: 0 auto;
  border-bottom: 20px;
  width: 400px;
}
